<% include include/header.ejs  %>
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="star-primary">
                    <h2>Registration</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form method="post" action="insertdata">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email</label>
                                <input type="email" name="email" id="email" value="" placeholder="Email" class="form-control"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Password</label>
                                <input type="password" name="pwd" id="pwd" value="" placeholder="Password" class="form-control" />    
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Coutry</label>
                                <select name="country" id="country" class="form-control">
                                    <option value="">- Country -</option>
                         s           <option value="1">India</option>
                                    <option value="2">England</option>
                                    <option value="3">USA</option>
                                    <option value="4">UK</option>
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group"> 
                            <div class="form-group col-xs-12 controls">
                                <div class="radio">
                                    <Span>Gender : </span>
                                    <label for="male"><input type="radio" id="male" name="gender" checked>Male</label>
                                    <label for="female"><input type="radio" id="female" name="gender">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea name="address" id="address" placeholder="Enter your Address" rows="5" class="form-control"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input class="btn btn-success btn-lg" type="submit" value="Register"/>
                                <input class="btn btn-success btn-lg" type="reset" value="Reset" class="alt"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
<% include include/footer.ejs %>